# Database Configuration
DB_URL=
DB_USERNAME=
DB_PASSWORD=

# Authentication
JWT_SECRET_KEY=jwt_token_generation_random_string
RESEND_API_KEY=api_key_for_sending_verification_emails
SUPPORT_EMAIL=email_under_registered_resend_domain