/* Background Layout */

body {
    background-color: #2b3930;
    background-image: linear-gradient(
        rgba(43,57,48,0.8),
        rgba(43,57,48,0.8)
    ),
    url("https://media.istockphoto.com/id/1315811592/vector/green-forest-pine-trees-silhouette-landscape.jpg");

    background-size: cover;
    background-position: center bottom;

    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100vh;
    margin: 0;
}


/* Title */
h1 {
    display: block;
    font-size: 4rem;
    font-weight: 500;
    margin-bottom: 20px;
}

/* Logo Image */
img {
    width: 400px;
    margin-bottom: 50px;
}

/* Form Container */

form {
    width: 100%;
    max-width: 420px;
    text-align: center;
}


/* Legend */

legend {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

legend + p {
    font-size: 0.9rem;
    color: #cccccc;
    margin-bottom: 25px;
}


/* Hide labels */

.mb-3 label {
    display: none;
}


/*  Link to login */

a {
    color: #8be28b;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* Error Messages */
.error-message {
    color: #ff6b6b;
    font-size: 0.9rem;
    margin-bottom: 12px;
    text-align: center;
}


.first-name-error,
.last-name-error,
.email-blank-error,
.email-invalid-error,
.password-error {
    color: #ff6b6b;
    font-size: 0.85rem;
    margin-top: 5px;
}