<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Login</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Global CSS -->
    <link rel="stylesheet" href="/css/global.css">

    <!-- Page specific CSS -->
    <link rel="stylesheet" href="/css/login.css">

</head>

<body>
    <form th:action="@{/auth/login}" method="post">
        <legend>Login to your account</legend>

        <div class="mb-3">
            <label>Enter your email:</label>
            <input type="text" name="email">
        </div>

        <div class="mb-3">
            <label>Enter your password:</label>
            <input type="password" name="password">
        </div>

        <button type="submit" class="btn btn-primary">Continue</button>
    </form>
</body>
</html>